/* Ashim edit start */

.bijoy_button{width:208px;height:29px;font-size:17px;font-weight: bold;font-family:kalpurush;background:white;border:1px solid #999}
.bijoy_button:hover{width:210px;height:30px;background:aliceblue;cursor:pointer}


.unicode_button{width:208px;height:29px;font-size:17px;font-weight: bold;font-family:kalpurush;background:white;border:1px solid #999}
.unicode_button:hover{width:210px;height:30px;background:aliceblue;cursor:pointer}


.reset_button{width:128px;height:29px;font-size:17px;font-weight: bold;font-family:kalpurush;background:white;border:1px solid #999}
.reset_button:hover{width:130px;height:30px;background:aliceblue;cursor:pointer}

/* Ashim edit end */